<div class="top_box">
    <div class="top_cont">

        <div class="top_login_r top_red">
		
        </div>
        <ul class="top_login top_red">

            <li id="headorderID_a" style="">
                <a href="http://order.lenovo.com.cn/center/orderlist.jhtm?merchantId=1">我的订单</a>
            </li>

            <li class="top_loginbtn" id="LoginID" style="display: none;">
                <a href="javascript:void(0);" class="login">登录</a>
            </li>
            <li class="top_regist" id="RegisterID" style="display: none;">
                <a href="javascript:void(0);" class="regist">注册</a>
            </li>
        </ul>

        <div class="top_phone" style="" id="UserInfo">
            <div class="top_phone_title"><span id="UserNameID">15364711138</span> 
                <a href="#" class=" top_usepng top_downs"></a>
            </div>
            <ul>
            <li>
                <a href="http://i.lenovo.com.cn/info/center.jhtml?sts=e40e7004-4c8a-4963-8564-31271a8337d8">我的商城
                </a>
            </li>
            <li>
            <a href="javascript:void(0);" id="LogOutID" class="logout">退出登录</a>
            </li>
            </ul>
        </div>

        <ul class="top_login top_red">
            <!-- <li><a href="#">18101020964</a></li> -->
            <li style="border-left:none;"><a href="http://www.lenovo.com.cn/">返回首页</a></li>
        </ul>


    </div>
</div>