<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>会员注册 - 途牛旅游网</title>
	<meta name="description" content="途牛旅游网：中国最大的旅游行业在线电子商务网站，为您提供最为周到的旅游服务。途牛旅游网" />
	<meta name="keywords" content="会员注册" />
    <link rel="shortcut icon" href="__PUBLIC__/home/public/img/2016-10-29_202044.png">
	<link rel="stylesheet" href="__PUBLIC__/home/public/css/zhuce.css">
	<script src="__PUBLIC__/home/public/js/jquery.min.js"></script>
	<script src="__PUBLIC__/home/public/js/zhuce.js"></script>
</head>
<body>
	<div class="header">
		<div class="header-bg">
			<div class="logo">
				<div class="logocon">
					<a href="./index.html"><img src="__PUBLIC__/home/public/img/logv2.png"></a>
				</div>
				<p class="header-tip">欢迎注册</p>
			</div>
		</div>
	</div>
	<div class="allwrap">
		<div class="main-top">
			<div class="main-top-left">
				<span></span>
			</div>
			<div class="main-top-right">
				已有途牛账号了?<a href="./denglu.html">登录</a>
			</div>
		</div>
		<div class="user-reg">
			<div class="reg-field">
				<div class="r-f-title">
					<a href="">
						<span>手机注册</span>
						<span class="jiao">▼</span>
					</a>
				</div>
				<div class="reg-wrap">
					<div class="mainpart">
						<!-- 手机注册第一步 -->
						<form action="">
							<div class="main-item">
								<div class="step step1"></div>
								<ul>
									<li>
										<div class="input tel">
											<label for="">手机号码: </label>
											<div class="input-left">
												<div class="zone-val">中国 0086</div>
												<div class="zone-tri"></div>
											</div>
											<input type="text" class="txt shuru" placeholder="请输入手机号码">
										</div>
										<div class="input-tip err" style="display:none;">
											<div class="input-tip-inner">
												<span class="reg-mes"></span>
											</div>
										</div>
									</li>
									<li>
										<div class="input">
											<label for="">验证码: </label>
											<span class="txt">
												<input type="text" class="txt-yz" placeholder="不区分大小写">
												<img src="__PUBLIC__/home/public/img/1447825328.4607">
											</span>
										</div>
										<div class="input-tip err">
											<div class="input-tip-inner">
												<span class="hide">请输入正确的验证码&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
												<span>看不清,<a href="">换一张</a></span>
											</div>
										</div>
									</li>
									<li>
										<div class="input">
											<label for="">校验码: </label>
											<input type="text" class="txt jiaoyan" placeholder="请输入校验码">
										</div>
										<div class="input-huoqu">
											<a href="">获取动态密码</a>
										</div>
									</li>
									<li>
										<div class="input" style="padding-left:75px; color:#333;">
											我有“<a href="" style="border-bottom:1px dashed #43b313">牛拉牛</a>”活动
											<a href="" class="shuru clickBtn">点击输入邀请码
												<span class="triangle-left">
													<em>◆</em>
													<i>◆</i>
												</span>
											</a>
										</div>
									</li>
									<li>
                                		<div class="reg-check">
                                    	<input type="checkbox" id="travel-info">
	                                    	<label for=" ">同意
	                                       		<a class="agreement" href=" ">途牛会员协议</a>
	                                        	并且愿意接受旅游咨询免费信息
	                                    	</label>
                                		</div>
                            		</li>
								</ul>
								<div class="reg-check">
									<input type="submit" value="下一步" class="login-btn">
								</div>
							</div>
						</form>
						<!-- 手机注册第二步 -->
						<div class="main-item" style="display:none;">
							<div class="step step2"></div>
							<ul class="mima">
								<li class="pw-li">
                            		<div class="input">
                                		<label for="password">登录密码：</label>
                                		<input type="password" name="password" class="txt">
                            		</div>
                        			<div class="input-tip err">
                                		<div class="input-tip-inner">
                                    		<span class="mes-pass">请输入正确的密码（密码长度最少6位以上）</span>
                                		</div>
                        			</div>                            		
                        		</li>
								<li class="queren">
                            		<div class="input">
                                		<label for="password">确认密码：</label>
                                		<input type="password" name="password" class="txt">
                            		</div>
                        			<div class="input-tip err">
                                		<div class="input-tip-inner">
                                    		<span class="mes-pass">请输入正确的密码（密码长度最少6位以上）</span>
                                		</div>
                        			</div>                            		
                        		</li>
							</ul>
							<div class="reg-check">
								<input type="submit" value="下一步" class="login-btn">
							</div>
						</div>
						<!-- 手机注册第三步 -->
						<div class="main-item" style="display:none;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>