<layout name="person" />
  <link rel="stylesheet" href="__PUBLIC__/home/css/dizhi.css">
  <script src="__PUBLIC__/home/js/jquery.js"></script>
  <script src="__PUBLIC__/home/js/dizhi.js"></script>
 <!-- 内容 -->
 <!-- 条 -->
 <div class=" container miandao">
     <a href="http://www.lenovo.com.cn" title="">首页</a>&gt;
     <a href="http://i.lenovo.com.cn/info/center.jhtml?sts=e40e7004-4c8a-4963-8564-31271a8337d8">会员中心
     </a>&gt;
     <a href="">收货地址</a>
  <p style="display: inline-block; padding-right: 15px; float: right;" id="complet_mess">
     <a href="http://i.lenovo.com.cn/info/userinfo.jhtml?sts=e40e7004-4c8a-4963-8564-31271a8337d8" style="color:red;" id="ledounum">首次完善个人信息，送50乐豆!
     </a>
   </p>
 </div>
<!-- 菜单 -->
<div class="user_main clearfix">
  <!-- menu -->
    <div class="user_leftbar"> 
     <div id="user_leftbar">
        <div class="lb">
          <h3 class="clearfix">
            <span>账户中心</span>
            <i class="user_down"></i>
          </h3>
          <ul >
            <li><a href="http://i.lenovo.com.cn/info/userinfo.jhtml?sts=e40e7004-4c8a-4963-8564-31271a8337d8" mcode="611f8c79c4dc">个人信息</a></li>
          </ul>
          <ul>
            <li><a href="http://i.lenovo.com.cn/changepass/indexPage.jhtml?sts=e40e7004-4c8a-4963-8564-31271a8337d8" mcode="b472d7371a91">修改密码</a></li>
          </ul>
      <ul style="display: none;">
            <li><a href="http://i.lenovo.com.cn/third/bind.jhtml?sts=e40e7004-4c8a-4963-8564-31271a8337d8" mcode="10c210c70d72">账户绑定</a></li>
            </ul> 
        </div>
        <div class="lb">
          <h3 class="clearfix"><span>订单中心</span><i class="user_down"></i></h3>
          <ul style="display: none;">
            <li><a href="http://order.lenovo.com.cn/center/orderlist.jhtm?merchantId=1" mcode="de2d855aafa7">我的订单</a></li>
          </ul>
      <ul style="display: none;">
            <li><a href="http://order.lenovo.com.cn/center/gp/orderlist.jhtm" mcode="e6724325d481">我的团购</a></li>
          </ul>
          <ul style="display: none;">
            <li><a href="http://www.lenovo.com.cn/mycenter/ucenter-comment.html" mcode="b7d8746a5d6f">评价晒单</a></li>
          </ul>
      <ul style="display: none;">
            <li><a href="http://c.lenovo.com.cn/lenovo/mytucao.html" mcode="fb47bb1bc927">我的吐槽</a></li>
          </ul>
          <ul style="display: none;">
            <li><a href="http://cart.lenovo.com.cn/getListPageNew.jhtml" mcode="f212417cda71">收货地址</a></li>
          </ul>
          <ul style="display: none;">
            <li><a href="http://i.lenovo.com.cn/favorite/myFavorite.jhtml?sts=e40e7004-4c8a-4963-8564-31271a8337d8" mcode="7e209107c62c">我的收藏</a></li>
          </ul>
          <ul style="display: none;">
            <li><a href="http://i.lenovo.com.cn/booking/list.jhtml?sts=e40e7004-4c8a-4963-8564-31271a8337d8" mcode="8057f5d860d3">我的预约</a></li>
          </ul>
          <ul style="display: none;">
            <li><a href="http://order.lenovo.com.cn/center/returnlist.jhtm?merchantId=1" mcode="88ce27b1f0ce">我的退换货</a></li>
          </ul>
          <ul style="display: none;">
            <li><a href="http://order.lenovo.com.cn/center/myoldlist.jhtm" mcode="a9c8cac27d82">以旧换新</a></li>
          </ul>
          <ul style="display: none;">
            <li><a href="http://order.lenovo.com.cn/center/zc/orderlist.jhtm?merchantId=1" mcode="8dae5db6db3b">我的众筹</a></li>
          </ul>
        </div>
         <div class="lb">
          <h3 class="clearfix"><span>我的信箱</span><i class="user_down"></i></h3>
          <ul style="display: none;">
            <li><a href="http://i.lenovo.com.cn/internal/msg/list.jhtml?sts=e40e7004-4c8a-4963-8564-31271a8337d8" mcode="dfff3c6a9652">我的站内信</a></li>
          </ul>
        </div>
        <div class="lb">
          <h3 class="clearfix"><span>资产中心</span><i class="user_down"></i></h3>
          <ul style="display: none;">
            <li><a href="http://i.lenovo.com.cn/ledou/list.jhtml?sts=e40e7004-4c8a-4963-8564-31271a8337d8" mcode="f1854ebdffb0">我的乐豆</a></li>
          </ul>
          <ul style="display: none;">
            <li><a href="http://coupon.lenovo.com.cn/lenovo/saleCoupons.jhtm" mcode="4306e221ef3e">我的优惠券</a></li>
          </ul>
      <ul style="display: none;">
            <li><a href="http://i.lenovo.com.cn/heidian/list.jhtml?sts=ad68e8e1-b719-443e-aa0f-d5fcbcdd83ae" mcode="7efd3ff91414">我的黑点</a></li>
          </ul>
      <ul style="display: none;">
            <li><a href="http://www.lenovo.com.cn/mycenter/win.html" mcode="e7bfdcee4d21">实物奖品</a></li>
          </ul>
      <ul style="display: none;">
            <li><a href="http://www.lenovo.com.cn/mycenter/coupon.html" mcode="7a1ea57200dc">领券中心</a></li>
          </ul>
        </div>
</div>
 
        </div>
<!-- 右 -->
    <div class="user_address" id="outerDiv">
        <h3>我的收货地址</h3>
        <div class="address_con">
        <p class="address_tip">设置好轻松购信息，就可以在商品页面直接下单 ，购物从此变得简单快乐!</p>
        <div class="address_add clearfix">
             <a href="javascript:;" title="新增收货地址" onclick="showLayer('SH');">新增收货地址</a>
        </div>
        <input type="hidden" id="isDefault" value="1">
        <div class="address_list">
           <div class="address_title">张三&nbsp;北京北京昌平天安门</div>
          
            <ul class="address_mes">
                <li class="clearfix">
                      <span>收货人：</span><em>张三</em>
                </li>
                <li class="clearfix">
                      <span>所在地区：</span><em>北京北京昌平</em>
                </li>
                <li class="clearfix">
                     <span>地址：</span><em>天安门</em>
                </li>
                <li class="clearfix">
                      <span>手机：</span><em>182****1110</em>
                </li>

                <li class="clearfix">
                      <span>邮箱：</span><em>110110110@qq.com</em>
                </li>
                <li class="clearfix">
                      <span>是否默认：</span>
                      <em>是</em>
                </li>
            </ul>
      <div class="address_operation clearfix">
          <a href="javascript:;" title="设为默认地址" class="address_default" onclick="setDefault('1958478','SH')">设为默认地址</a>
          <a href="javascript:;" title="编辑" class="address_edit" onclick="updateAddress('','','','1958478','张三','18234451110','北京','北京','昌平','天安门','110110110@qq.com','','1','SH');"><i class="edit_icon"></i><em>编辑</em></a>
          </div>
          <a href="javascript:;" class="address_del" title="删除" onclick="deleteAddress_('1958478','SH')">删除</a>
      </div>
      <!-- 页码 -->
      <div class="page_number" id="page_number">

        <ul class="clearfix" style="width: 100%;">
            <li class="page_btn prev disable">
                <a href="javascript:;" title="上一页" class="clearfix" onclick="toPage(0,1,'SH')"><i></i>
                <span>上一页</span></a>
            </li>
            <li class="page_num" onclick="toPage(1,1,'SH')">
                <a href="javascript:;" style="color:red">1</a>
            </li>
            <li class="page_btn next">
                 <a href="javascript:;" title="下一页" class="clearfix" onclick="toPage(2,1,'SH')"><i>
                    </i>
                    <span>下一页</span>
                  </a>
            </li>
            <li class="page_total">共1页</li>
            <li class="page_goto">到第<input type="text" value="1" id="pageNum">页</li>
            <li class="page_sure">
            <input type="button" value="确定" onclick="toPage(10000,1,'SH')">
            </li>
        </ul>
      </div>
  </div>

</div>
</div>
