<layout name="person" />
  <link rel="stylesheet" href="__PUBLIC__/home/css/xinxi.css">
  <script src="__PUBLIC__/home/js/jquery.js"></script>
  <script src="__PUBLIC__/home/js/xinxi.js"></script>
 <!-- 内容 -->
 <!-- 条 -->
 <div class=" container miandao">
     <a href="http://www.lenovo.com.cn" title="">首页</a>&gt;
     <a href="http://i.lenovo.com.cn/info/center.jhtml?sts=e40e7004-4c8a-4963-8564-31271a8337d8">会员中心
     </a>&gt;
     <a href="">个人信息</a>
  <p style="display: inline-block; padding-right: 15px; float: right;" id="complet_mess">
     <a href="http://i.lenovo.com.cn/info/userinfo.jhtml?sts=e40e7004-4c8a-4963-8564-31271a8337d8" style="color:red;" id="ledounum">首次完善个人信息，送50乐豆!
     </a>
   </p>
 </div>
<!-- 菜单 -->
<div class="user_main clearfix">
  <!-- menu -->
    <div class="user_leftbar"> 
     <div id="user_leftbar">
        <div class="lb">
          <h3 class="clearfix">
            <span>账户中心</span>
            <i class="user_down"></i>
          </h3>
          <ul >
            <li><a href="http://i.lenovo.com.cn/info/userinfo.jhtml?sts=e40e7004-4c8a-4963-8564-31271a8337d8" mcode="611f8c79c4dc">个人信息</a></li>
          </ul>
          <ul>
            <li><a href="./xgmm.html">修改密码</a></li>
          </ul>
      <ul style="display: none;">
            <li><a href="http://i.lenovo.com.cn/third/bind.jhtml?sts=e40e7004-4c8a-4963-8564-31271a8337d8" mcode="10c210c70d72">账户绑定</a></li>
            </ul> 
        </div>
        <div class="lb">
          <h3 class="clearfix"><span>订单中心</span><i class="user_down"></i></h3>
          <ul style="display: none;">
            <li><a href="http://order.lenovo.com.cn/center/orderlist.jhtm?merchantId=1" mcode="de2d855aafa7">我的订单</a></li>
          </ul>
      <ul style="display: none;">
            <li><a href="http://order.lenovo.com.cn/center/gp/orderlist.jhtm" mcode="e6724325d481">我的团购</a></li>
          </ul>
          <ul style="display: none;">
            <li><a href="http://www.lenovo.com.cn/mycenter/ucenter-comment.html" mcode="b7d8746a5d6f">评价晒单</a></li>
          </ul>
      <ul style="display: none;">
            <li><a href="http://c.lenovo.com.cn/lenovo/mytucao.html" mcode="fb47bb1bc927">我的吐槽</a></li>
          </ul>
          <ul style="display: none;">
            <li><a href="http://cart.lenovo.com.cn/getListPageNew.jhtml" mcode="f212417cda71">收货地址</a></li>
          </ul>
          <ul style="display: none;">
            <li><a href="http://i.lenovo.com.cn/favorite/myFavorite.jhtml?sts=e40e7004-4c8a-4963-8564-31271a8337d8" mcode="7e209107c62c">我的收藏</a></li>
          </ul>
          <ul style="display: none;">
            <li><a href="http://i.lenovo.com.cn/booking/list.jhtml?sts=e40e7004-4c8a-4963-8564-31271a8337d8" mcode="8057f5d860d3">我的预约</a></li>
          </ul>
          <ul style="display: none;">
            <li><a href="http://order.lenovo.com.cn/center/returnlist.jhtm?merchantId=1" mcode="88ce27b1f0ce">我的退换货</a></li>
          </ul>
          <ul style="display: none;">
            <li><a href="http://order.lenovo.com.cn/center/myoldlist.jhtm" mcode="a9c8cac27d82">以旧换新</a></li>
          </ul>
          <ul style="display: none;">
            <li><a href="http://order.lenovo.com.cn/center/zc/orderlist.jhtm?merchantId=1" mcode="8dae5db6db3b">我的众筹</a></li>
          </ul>
        </div>
         <div class="lb">
          <h3 class="clearfix"><span>我的信箱</span><i class="user_down"></i></h3>
          <ul style="display: none;">
            <li><a href="http://i.lenovo.com.cn/internal/msg/list.jhtml?sts=e40e7004-4c8a-4963-8564-31271a8337d8" mcode="dfff3c6a9652">我的站内信</a></li>
          </ul>
        </div>
        <div class="lb">
          <h3 class="clearfix"><span>资产中心</span><i class="user_down"></i></h3>
          <ul style="display: none;">
            <li><a href="http://i.lenovo.com.cn/ledou/list.jhtml?sts=e40e7004-4c8a-4963-8564-31271a8337d8" mcode="f1854ebdffb0">我的乐豆</a></li>
          </ul>
          <ul style="display: none;">
            <li><a href="http://coupon.lenovo.com.cn/lenovo/saleCoupons.jhtm" mcode="4306e221ef3e">我的优惠券</a></li>
          </ul>
      <ul style="display: none;">
            <li><a href="http://i.lenovo.com.cn/heidian/list.jhtml?sts=ad68e8e1-b719-443e-aa0f-d5fcbcdd83ae" mcode="7efd3ff91414">我的黑点</a></li>
          </ul>
      <ul style="display: none;">
            <li><a href="http://www.lenovo.com.cn/mycenter/win.html" mcode="e7bfdcee4d21">实物奖品</a></li>
          </ul>
      <ul style="display: none;">
            <li><a href="http://www.lenovo.com.cn/mycenter/coupon.html" mcode="7a1ea57200dc">领券中心</a></li>
          </ul>
        </div>
</div>
 
        </div>
    <div class="msg_right">
          <!-- 个人资料 -->
           <div class="msg_box">
                <div class="msg_title">
                    <p>个人信息</p>
                </div>
                <div class="msg_main clearfix">
                  <form id="infoform" method="post">
                      <ul class="clearfix msg_ul">
                        <input type="hidden" name="lenovoid" value="10090423014">
                        <input type="hidden" name="loginname" value="15364711138">
                        <input type="hidden" name="sts" value="e40e7004-4c8a-4963-8564-31271a8337d8">
                          <li class="clearfix msg_li">
                              <p class="msg_name">会员账号：</p>
                              <p>15364711138</p>
                          </li>
                          <li class="clearfix msg_li">
                              <p class="msg_name"><span class="msg_red">* </span>会员昵称：</p>
                              <p><input type="text" id="username" name="username" class="msg_input_w" value="15364711138"></p>
                              <p class="msg_text">4-20个字符，可由中英文、数字、“_”、“-”组成 </p>
                          </li>
                          <li class="clearfix msg_sex msg_li">
                              <p class="msg_name"><span class="msg_red">* </span>性别：</p>
                              <p>
                                <input type="radio" name="gender" id="sex-man" value="1"><label for="sex-man">男</label>
                                  <input type="radio" name="gender" id="sex-woman" value="2"><label for="sex-woman">女</label>
                                  <input type="radio" name="gender" checked="checked" value="0" id="sex"><label for="sex">保密</label>
                                </p>
                          </li>
                          <li class="clearfix msg_li">
                              <p class="msg_name"><span class="msg_red">* </span>生日：</p>
                              <p>
                                <input type="text" name="birthday" id="birthday" class="msg_input_w" value="" readonly="readonly">
                              </p>
                          </li>
                          <li class="clearfix msg_li">
                              <p class="msg_name"><span class="msg_red"> </span>真实姓名：</p>
                              <p>
                                <input type="text" name="realname" id="realname" class="msg_input_w" value="">
                              </p>
                              <p class="msg_text">英文长度:4-20 ，中文长度:2-10 </p>
                          </li>
                          <li class="clearfix msg_li">
                              <p class="msg_name"><span class="msg_red">* </span>居住地：</p>
                              <p>
                                  </p><div class="selectContainer msg_select">  
                                      <select id="province">
                        <option value="">请选择省份</option>
                        <option value="11">北京市</option>
                        <option value="12">天津市</option>
                        <option value="13">河北省</option>
                        <option value="14">山西省</option>
                        <option value="15">内蒙古自治区</option>
                        <option value="21">辽宁省</option>
                        <option value="22">吉林省</option>
                        <option value="23">黑龙江省</option>
                        <option value="31">上海市</option>
                        <option value="32">江苏省</option>
                        <option value="33">浙江省</option>
                        <option value="34">安徽省</option>
                        <option value="35">福建省</option>
                        <option value="36">江西省</option>
                        <option value="37">山东省</option>
                        <option value="41">河南省</option>
                        <option value="42">湖北省</option>
                        <option value="43">湖南省</option>
                        <option value="44">广东省</option>
                        <option value="45">广西壮族自治区</option>
                        <option value="46">海南省</option>
                        <option value="50">重庆市</option>
                        <option value="51">四川省</option>
                        <option value="52">贵州省</option>
                        <option value="53">云南省</option>
                        <option value="54">西藏自治区</option>
                        <option value="61">陕西省</option>
                        <option value="62">甘肃省</option>
                        <option value="63">青海省</option>
                        <option value="64">宁夏回族自治区</option>
                        <option value="65">新疆维吾尔自治区</option>
                        <option value="71">台湾省</option>
                        <option value="81">香港特别行政区</option><option value="82">澳门特别行政区</option>
                      </select>  
                        <input type="hidden" id="_p" name="resideprovince" value="">
                                  </div>
                                  <div class="selectContainer msg_select">  
                                      <select id="city">
                        <option value="">请选择城市</option>
                        </select>   
                        <input type="hidden" id="_c" name="residecity" value="">
                                  </div>
                                  <div class="selectContainer msg_select">  
                                      <select id="dist">
                        <option value="">请选择区/县</option>
                        </select>   
                        <input type="hidden" id="_d" name="residedist" value="">
                                  </div>
                              <p></p>
                          </li>
                          <li class="clearfix msg_li">
                              <p class="msg_name"><span class="msg_red"> </span>详细地址：</p>
                              <p><input type="text" name="residecommunity" id="residecommunity" class="msg_input_w" style="width:412px;" maxlength="100" value=""></p>
                          </li>
                          </ul>
                    </form>
                    <dl>
                        <dt><a href="javascript:void(0);" onclick="toggleHeadSet();" style="cursor: pointer;"><img src="http://i.app.lefile.cn/head/picdefault1477559405444/sdefault1477559405444.png?t=1477559406103" alt="修改头像" title="修改头像"></a></dt>
                        <dd><a href="javascript:void(0);" onclick="toggleHeadSet();" style="cursor: pointer;">修改头像</a></dd>
                    </dl>
                </div>
                <div class="msg_likes_mains">
                    <div class="msg_likes_main clearfix">
                        <div class="msg_likes_mainl">
                            <p>&nbsp;</p>
                        </div>
                        <div class="msg_likes_btn">
                            <ul>
                                <li id="pushedit" onmouseover="this.style.background='#FF3030'" onmouseout="this.style.background='#c9c9c9'" style="font-size: 14px; cursor: pointer; background: rgb(201, 201, 201);">修改</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> 

        <!-- 兴趣资料 -->
            </div>
</div>
