*{
	padding: 0px;
	margin: 0px;
	font-family: 宋体;
}
.clear{
	clear: both;
}
a{
	color: #404040;
	text-decoration: none;
}
ul{
	list-style: none;
}
/*头部*/
.header-top{
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #EEEEEE;
	background-color: rgb(248,248,248);
}
.header-inner{
	width: 1190px;
	margin: 0 auto;
}
.header-top-left{
	height: 30px;
	left: 0px;
	display:inline-block;
	text-align: center;
	line-height: 30px;
	float: left;

}
.header-top-right{
	height: 30px;
	left: 0px;
	display:inline-block;
	text-align: center;
	line-height: 30px;
	float: right;
}
.header-top li,.header-top li a{
	text-decoration: none;
	color: #404040;
	padding: 0 2px;
	font-size: 10px;
}
.header-top li a#you{
	padding-right:6px;
	border-right: 1px solid #D4CCD4;
}
.header-top li a:hover{
	color: #f60;
	cursor: pointer;
}
.index_top_nav li{	
	list-style: none;
	float: left;
}
.index_top_nav li:hover>i{	
	transform:rotate(180deg);
	transition:transform 0.2s;
}
.index_top_nav li[num]{
	padding: 0 12px;
	width:18px;
	height:30px;
}
.header-top-right .nav_item{
	padding: 0 8px;
	position: relative;
}

.header-top-right .nav_item .zi{
	/*width: 86px;*/
	position: absolute;
	left:0px;
	top:31px;
	/*height: 120px;*/
	border:1px solid #eee;
	border-top: 0px;
	display: none;
	margin: 0 auto;
	background-color: #fff;
	z-index: 99;
}
.header-top-right .nav_item .zi li{
	width: 78px;
	height: 25px;
	text-align: center;
	padding:-10px 5px;
}
.header-top-right .nav_item .zi li:hover{
	color: #f80;
	cursor: pointer;
}
.header-top-right .dd{
	width: 84px;
	padding: 0px;
}
.header-top-right .dd:hover{
	border-left:1px solid #eee;
	border-right: 1px solid #eee; 
	border-bottom: 1px solid #fff;
	background-color: #fff;
	margin:0px -1px;
}
.header-top-right .nav_item:hover .zi{
	display: block;
}
.header-top-right .nav_item .dropdown_panel{
	width: 1188px;
	left: -983px;
	top:31px;
	border:1px solid #eee;
	border-top: 0px;
	padding-top: 18px;
	padding-bottom: 30px;
	background: #fff;
	position: absolute;
	display: none;
	float: left;
	z-index: 99;
}
.header-top-right .nav_item .dropdown_panel dt{
	padding: 0 40px;
	float: left;
	font-size: 16px;
	height: 190px;
	font-weight: bold;
	border-left: 1px solid #eee;
}
.header-top-right .nav_item dl>dd{
	font-size: 12px;
	color: #666;
	float: left;

}
.header-top-right .nav_item dl>dd>ul{
	float: left;
	width: 100px;
}
.header-top-right .nav_item dl>dd>ul>li>a{
	position: relative;
	padding-right: 16px;
}
.header-top-right .nav_item dl>dd>ul>li>a .icon_new{
	position: absolute;
	width: 11px;
	height: 11px;
	top: 3px;
	right: 0px;
	background: url(../img/header_v3.png) 0 0 no-repeat;
	background-position:-41px -10px;
	margin-left: 4px;
	display: inline-block;
}
.header-top-right .nav_item dl>dd>ul>li>a .icon_hot{
	position: absolute;
	width: 11px;
	height: 11px;
	top: 3px;
	right: 0px;
	background: url(../img/header_v3.png) 0 0 no-repeat;
	background-position:-61px -10px;
	margin-left: 4px;
	display: inline-block;
}

.header-top-right .nav_item .dropdown_panel .tour{
	color: #2e9900;
	border-left: none;
}
.header-top-right .nav_item .dropdown_panel .discount{
	color: #f69100;
}
.header-top-right .nav_item .dropdown_panel .guide{
	color: #02609d;
}
.header-top-right .nav_item .dropdown_panel .service{
	color: #bf4b56;
}
.header-top-right .wzdt:hover{
	border-left:1px solid #eee;
	border-right: 1px solid #eee; 
	border-bottom:2px solid #fff;
	background-color: #fff;
	margin:0px -1px;
}
.header-top-right .nav_item:hover .dropdown_panel{
	display: block;
}
.header-top-right .nav_item a.se{
	color: #f60;
}
.header-top-right .nav_item a.weibo{
	background: url(../img/header_v3.png) 0 0 no-repeat;
	background-position: -40px -50px;
	width:18px;
	height: 13px;
	padding:0 0; 
	display: inline-block;
	margin: 0 auto;
}
.header-top-right .nav_item a.weibo:hover{
	background: url(../img/header_v3.png) 0 0 no-repeat;
	background-position: -86px -49px;
}
/*@keyframes erweima{
	0%{
		transform:scaleY(1);
	}
	15%{
		transform:scaleY(1) translate(0px,-10px);

	}
	30%{
		transform:scaleY(0.7);
		transform-origin:bottom;
	}
	40%{
		transform:translate(0px, -5px);
	}
	50%{
		transform:translate(0px, -3px);
	}
	58%{
		transform:translate(0px, 0px);
	}
	100%{
		transform:scaleY(1);
	}
}*/
.header-top-right .nav_item a.erweima{
	background: url(../img/head_icon_qrcode.gif) no-repeat -7px -2px;
	width:18px;
	height: 26px;
	display: inline-block;
}
.header-top-right .nav_item .erweima-down{
	top:30px;
	left: -200px;
	position: absolute;
	/*background-color: #fff;*/
	display: none;
	z-index: 99;
}
.header-top-right .nav_item .erweima-down>img{
	width: 270px;
	
}
.header-top-right .ewmk:hover{
	border-left:1px solid #eee;
	border-bottom:1px solid #fff;
	border-right:1px solid #eee;
	background-color: #fff;
	margin: 0 -1px;
}
.header-top-right .nav_item a.erweima:hover{
	background: url(../img/head_icon_qrcode_hover.png)no-repeat;
	background-position: -7px 3px;
	margin-top:-3px;
	height:24px;
}
.header-top-right .nav_item:hover .erweima-down{
	display: block;
}
.header-top-right .nav_item a.weixin{
	background: url(../img/header_v3.png) 0 0 no-repeat;
	background-position: -63px -48px;
	width:18px;
	height: 13px;
	padding:0 0; 
	display: inline-block;
	margin: 0 auto;
}
.header-top-right .nav_item a.weixin:hover{
	background: url(../img/header_v3.png) 0 0 no-repeat;
	background-position: -92px -6px;
}
.header-top-right .nav_item .weixin-down{
	top:31px;
	left: -258px;
	position: absolute;
	border:1px solid #eee;
	border-top: 0px;
	background-color: #fff;
	display: none;
	z-index: 99;
}
.header-top-right .nav_item .weixin-down>img{
	height: 
}
.header-top-right .nav_item:hover .weixin-down{
	display: block;
}
.header-top-right .wxk:hover{
	border-left:1px solid #eee;
	border-bottom:1px solid #fff;
	border-right:1px solid #eee;
	background-color: #fff;
	margin: 0 -1px;
}
.header-top-right .nav_item i{
	width: 10px;
	height: 10px;
	background: url(../img/header_v3.png) 0 0 no-repeat;
	background-position:-6px -9px;
	margin-left: 4px;
	display: inline-block;
}
/*logo*/
.header-search{
	width: 100%;
	height: 100px;
	/*background-color: #ff0;*/
}
.site-logo{
	width: 171px;
	height: 55px;
	display: inline-block;
	float: left;
}
.local-city{
	width: 110px;
	height: 39px;
	float: left;
}
.local-city p span{
	font-size: 14px;
	float: left;
	display: inline-block;
	margin-top: 35px;
	color: #000;
}
.local-city p span i{
	width: 10px;
	height: 10px;
	margin-left: 4px;
	background: url(../img/header_v3.png) no-repeat -6px -9px;
	display: inline-block;
}
.local-city p:hover{
	cursor: pointer;
}
.local-city p span:hover i{
	transform:rotate(180deg);
}
.local-city p a img{
	width: 61px;
	height: 16px;
	text-align: left;
	margin: 5px 0 0 0;
	display:inline-block;
}
/*搜索框*/
.search-box{
	width: 492px;
	height: 34px;
	border:0px;
	border:3px solid #f80; 
	display: inline-block;
	margin-top: 30px;
	margin-left: 10px;
	float: left;
	color: rgb(153,153,153);
	background-color: #f80;
	position: relative;
}
.search-box:hover{
	border:3px solid #FF7900;
	background-color: #FF7900;
}
.search-box-left{
	width: 77px;
	height: 34px;
	line-height: 30px;
	border-right: 1px solid #e5e5e5;
	background-color: #F8F8F8;
	padding-left: 15px;
	float: left;
	cursor: pointer;
}
.search-box-left span{
	font-size: 12px;	
}
.search-box-left .spic{
	width: 8px;
	height: 8px;
	position: relative;
	display: inline-block;
	background: url(../img/down.jpg) no-repeat;
}
.search-box-left-down{
	display: none;
	top:34px;
	left: 2px;
	width: 88px;
	background-color: #fff;
	border:1px solid #e5e5e5;
	border-top: 0px;
	position: absolute;
	z-index: 99;
}
.search-box-left-down .types{
	width: 74px;
	height: 30px;
	border-top: 1px solid #e5e5e5;
	padding-left: 15px;
	font-size: 12px;
	color: #999;
}
.search-box-left:hover .search-box-left-down{
	display: block;
}
.search-box-body{
	width: 332px;
	height: 40px;
	line-height: 30px;
	float: left;
	display: inline-block;
}
.search-box-body input{
	width: 322px;
	height: 24px;
	border:none;
	color: rgb(153,153,153);
	padding: 5px;
}
.search-box-body input:focus{
	outline:0px;
}
.search-box-right{
	width:67px;
	height: 34px;
	float: left;
}
.search-box-right button{
	width:67px;
	height: 40px;
	border:0px;
	font-style: normal;
	display: inline-block;
	cursor: pointer;
	background: url(../img/nav_bg.png) no-repeat;
	background-position: 29px -176px; 
}
.search-box-right button:focus{
	outline:0px;
}
.search-hot{
	width: 156px;
	height: 26px;
	right: 75px;
	top:3px;
	display: inline-block;
	list-style: none;
	font-size: 14px;
	position: absolute;
	/*background-color: #f0f;*/
}
.search-hot li{
	width: 24px;
	height: 20px;
	line-height: 20px;
	padding: 2px 5px;
	margin-top: 2px;
	margin-left: 10px;
	border-radius: 12px;
	background-color: rgb(243, 243, 243);
	float: left;
}
.search-hot li:hover>a{
	color: #f80;
}
.search-hot li.two,.search-hot li.three{
	width: 36px;
	height: 20px;
}
.search-hot li a{
	font-size: 12px;
	text-decoration: none;
	color: rgb(153, 153, 153);
}
.search-hot li a:focus{
	outline:0px;
}

/*高级搜索*/
.search-ss{
	width: 48px;
	height: 18px;
	float: left;
}
.search-ss a{
	width: 68px;
	height: 18px;
	line-height: 18px;
	font-size: 12px;
	text-decoration: none;
	color: rgb(153,153,153);
	/*padding-right: 10px;*/
	margin-left: 10px;
	margin-top: 39px;
	display: inline-block;
	float: left;
}
.search-ss a i{
	width: 5px;
	height: 3px;
	background: url(../img/header_v3.png) 0 0 no-repeat;
	background-position:-8px -13px;
	margin-left: 6px;
	display: inline-block;
}
/*客服*/
.site-contact{
	width: 295px;
	height: 77px;
	background: url(../img/site_contact_bg.png) no-repeat;
	background-position: 0% 100%;
	float: right;
	text-align: left;
	margin-top: 6px;
	color: rgb(64, 64, 64);
	position: relative;
	cursor: pointer;
}
.site-contact .kefu{
	width: 79px;
	height: 36px;
	left: 0px;
	top:35px;
	float: left;
	text-decoration: none;
	position: absolute;
}
.site-contact .kefu img{
	margin-top: 4px;
	margin-right: 3px;
	float: left;
}
.site-contact .kefu span{
	width: 48px;
	height: 36px;
	font-size: 11px;
	text-decoration: none;
	color:rgb(156, 155, 165);
	display: inline-block;
	float: left;
}
.site-contact .kefu span i{
	font-size: 12px;
	font-style: normal;
	color: #22C233;
}
.site-contact .tel{
	width: 28px;
	height: 28px;
	right: 172px;
	top: 39px;
	background: url(../img/tel.png);
	display: inline-block;
	float: left;
	position: absolute;
}
.site-contact .site-contact-tel{
	width: 93px;
	height: 12px;
	right: 80px;
	top: 38px;
	font-size: 11px;
	text-decoration: none;
	color:rgb(156, 155, 165);
	display: inline-block;
	float: left;
	position: absolute;
}
.site-contact .site-contact-phone{
	width: 90px;
	height: 14px;
	right: 80px;
	top: 54px;
	font-size: 14px;
	color: #FF8800;
	float: left;
	font-family: arial;
	font-weight: bold;
	display: inline-block;
	position: absolute;
}
.site-contact .mingxing{
	width: 78px;
	height: 77px;
	right: 0px;
	background: url(../img/zhou_big.png);
	position: absolute;
	display: inline-block;
}








/*首页*/
.menu-panel{
	width: 100%;
	height: 35px;
	/*background-color: #f0f;*/
	display: inline-block;
	position:relative;
	padding: 0px;
	margin: 0px;
	border-bottom: 3px solid #38c249;
}
.menu-panel-body{
	width: 1190px;
	height: 35px;
	line-height: 35px;
	margin: 0 auto;

}
.menu-panel-body ul{
	width: 1190px;
	height: 35px;
	list-style: none;
	margin: 0 auto;
	float: left;
	display: inline-block;
	position: relative;
}
.menu-list li{
	/*width: 73px;*/
	height: 35px;
	line-height: 35px;	
    /*border-bottom: 3px solid #38c249;*/
	float: left;
	display: inline-block;
	
}

.menu-list li:hover>a>i{
	/*-webkit-transform:rotate(180deg);*/
	transform:rotate(180deg);
	transition:transform 0.5s;
	/*-webkit-transition:-webkit-transform 0.5s;*/
}
.menu-list li:hover{
	background-color: #f0f1f3;
}
.menu-list li.sy:hover{
	background-color:rgb(78, 206, 90);
}
.menu-list li a{
	height: 32px;
	font-size:16px;
	padding: 0 18px;
	/*font-weight: bold;*/
	text-decoration: none;
	color: #2b8f08;
	cursor: pointer;
	display: inline-block;
	position: relative;
}
.menu-list li>a>i{
	width: 5px;
	height: 3px;
	display: inline-block;
	position: absolute;
	top: 17px;
	right: 10px;
	background: url(../img/nav_bg.png) no-repeat -32px -440px;
}
/*首页*/
.menu-list .sy{
	font-weight: bold;
	background-color:rgb(78, 206, 90);
}
.menu-list .sy a{
	color:#fff;
}


/*小图标*/
.menu-list .zj .scene{
	width: 36px;
	height: 17px;
	right: -7px;
	top: -7px;
	display: inline-block;
	position: absolute;
	background: url(../img/index_icon_v2.png) no-repeat -38px -1274px;
}
.menu-list .jp .hot{
	width: 22px;
	height: 16px;
	right: 5px;
	top: -7px;
	display: inline-block;
	position: absolute;
	background: url(../img/index_icon_hot.png) no-repeat 0px 0px;
}
.menu-list .mp .disney{
	width: 53px;
	height: 16px;
	right: -28px;
	top: -7px;
	display: inline-block;
	position: absolute;
	background: url(../img/index_disney_2.png) no-repeat 0px 0px;
}




/*跟团游*/
.top-wrap{
	width:1349px;
	height: 44px;
	color: rgb(51, 51, 51);
	top:38px;
	position: absolute;
	left:-80px;
	background-color: #fff;
	display:none;
	z-index:100;
}
.top-wrap .top-nav{
	width: 1190px;
	height: 35px;
	margin: 0 auto;
	/*border-top: 3px solid #38c249;*/
	
}
.top-wrap .top-nav .gt-left{
	color: rgb(255, 102, 0);
}
.top-wrap .top-nav a{
	color:#333;
	font-size: 14px;
	height: 24px;
	line-height: 24px;
	display: inline-block;
	padding: 0 10px;
	margin: 10px 5px 0 5px;
}
.top-wrap .top-nav a:hover{
	color:#fff;
	background-color:rgb(78, 206, 90);
}
.gt .top-wrap .top-up{
	width: 12px;
	height: 10px;
	left: 105px;
	top:-10px;
	display: inline-block;
	position: absolute;
	/*background-image: url(../img/header_v3.png) no-repeat -76px -8px;*/
	background: url(../img/header_v3.png) no-repeat -76px -4px;
}








/*左侧导航*/
#sasa{
	position: relative;
	width:1190px;
	margin: 0 auto;
}
.slide-catalog{
	width: 1190px;
	height: 0px;
	margin: 0 auto;
	/*background-color: #ff0;*/
	position: relative;
}


/*左侧一级导航*/
.slide-catalog-first{
	width: 84px;
	height: 420px;
	background: #38414c;
	position:absolute;
	top:10px;
	z-index:10;
}
.catalog-first{
	width: 84px;
	height: 59px;
	line-height: 58px;
	text-align: center;
	border-bottom: 1px dotted #202020;
	position: relative;
}
.catalog-first a{
	width: 84px;
	height: 40px;
	text-decoration: none;
	padding-top: 20px;
	color: #fff;
	display: inline-block;
}
.catalog-first-one{
	width: 86px;
	left: -2px;
	height: 60px;
	border:none;
}
.catalog-first-two{
	width: 86px;
	left: -2px;
	height: 60px;
	border:none;
}
.catalog-first-two a{
	width: 86px;
	background-color: #fff;
	color: #2ea536;	
	font-weight: bold;
}
.catalog-first-two>a>.icon-one{
	background-position-y:-24px;
}
.catalog-first-two>a>.icon-two{
	background-position-y:-24px;
}
.catalog-first-two>a>.icon-three{
	background-position-y:-24px;
}
.catalog-first-two>a>.icon-four{
	background-position-y:-24px;
}
.catalog-first-two>a>.icon-five{
	background-position-y:-24px;
}
.catalog-first-two>a>.icon-six{
	background-position-y:-24px;
}
.catalog-first-two>a>.icon-seven{
	background-position-y:-24px;
}
.catalog-first-one a{
	width: 86px;
	background-color: #fff;
	color: #2ea536;	
	font-weight: bold;
}
.catalog-first-one>a>.icon-one{
	background-position-y:-24px;
}
.catalog-first-one>a>.icon-two{
	background-position-y:-24px;
}
.catalog-first-one>a>.icon-three{
	background-position-y:-24px;
}
.catalog-first-one>a>.icon-four{
	background-position-y:-24px;
}
.catalog-first-one>a>.icon-five{
	background-position-y:-24px;
}
.catalog-first-one>a>.icon-six{
	background-position-y:-24px;
}
.catalog-first-one>a>.icon-seven{
	background-position-y:-24px;
}

.catalog-first-icon{
	width: 20px;
	height: 21px;
	top:8px;
	left: 34px;
	position: absolute;
}
.catalog-first .icon-one{
	background: url(../img/catalog_icon.png) no-repeat 1px 0px;
}
.catalog-first .icon-two{
	background: url(../img/catalog_icon.png) no-repeat -40px 0px;
}
.catalog-first .icon-three{
	background: url(../img/catalog_icon.png) no-repeat -60px 0px;
}
.catalog-first .icon-four{
	background: url(../img/catalog_icon.png) no-repeat -20px 0px;
}
.catalog-first .icon-five{
	background: url(../img/catalog_icon.png) no-repeat -80px 0px;
}
.catalog-first .icon-six{
	background: url(../img/catalog_icon.png) no-repeat -100px 0px;
}
.catalog-first .icon-seven{
	background: url(../img/catalog_icon.png) no-repeat -120px 0px;
}



/*左侧二级导航*/
.slide-catalog-seconds{
	width: 141px;
	height: 420px;
	left: 84px;
	top:10px;
	position: absolute;
	background-color: #fff;
	z-index:10;
}
.catalog-seconds{
	width: 125px;
	/*height: 46.3px;*/
	margin: 0 auto;
	border-bottom: 1px dotted #dcdcdc;
}
.c-s-title{
	width: 135px;
	height: 20px;
	padding: 5px 0 0px;
	margin-right: 10px;
	position: relative;
}
.c-s-title a{
	height: 19px;
	font-weight: bold;
	text-decoration: none;
	font-size: 14px;
	color: #333;
}
.c-s-title i{
	width: 10px;
	height: 17px;
	top:8px;
	right: 2px;
	background: url(../img/catalog_icon.png) no-repeat -88px -48px;
	display: inline-block;
	position: absolute;
}
.c-s-nom{
	width: 135px;
	height: 20px;
	padding-left: 3px;
	margin-right: 13px;
}
.c-s-nom a{
	text-decoration: none;
	font-size: 12px;
	color: #999;
}

/*查询条件二级导航*/
.s-c-chaxun{
	width: 465px;
	height: 420px;
	position: absolute;
	margin-left: 84px;
	background: #fff;
	display: none;
	left: 0px;
	top: 10px;
	z-index:10;
}
.s-c-chaxun>a{
	width: 22px;
	height: 22px;
	background: url(../img/catalog_icon.png) no-repeat 0 -152px;
	position: absolute;
	right: -8px;
	top: -8px;
	z-index: 99;
	/*display: block;*/
}
.s-cc-form{
	width: 415px;
	height: 385px;
	padding:15px 25px 20px 25px;
	padding-top:10px;
	background-color: #fff;
}
.s-cc-f-jipiao{
	width: 415px;
	height: 342px;
	display: block;
	/*background-color: #ff0;*/
}
.jipiao-title{
	width: 415px;
	height: 38px;
	border-bottom: 1px solid #eee;
	margin: 0 auto;
	display: block;
}
.jipiao-title>a{
	/*width: 68px;*/
	height: 36px;
	line-height: 28px;
	margin-right: 61px;
	font-size: 16px;
	font-weight: bold;
	padding-left: 2px;
	color: #333;
	padding-right: 2px;
	text-decoration: none;
	/*font-family: "Microsoft YaHei";*/
	display:inline-block;
	float: left;
	/*display: none;*/
}
.jipiao-title>a.jp-t-btn{
	color: #2ea536;
    border-bottom: 3px solid #2ea536;
}
.jipiao-body{
	width: 415px;
	height: 303px;
}
.j-b-type{
	/*width: 415px;*/
	height: 52px;
	line-height: 52px;
	margin: 0 auto;
}
.j-b-type ul{
	/*width: 146px;*/
	/*height: 52px;*/
	float: left;
	list-style: none;
}
.j-b-type ul>li{
	width: 48px;
	height: 52px;
	line-height: 52px;
	margin-right: 25px;
	float: left;
}
.j-b-type ul>li>label{
	line-height: 52px;
	padding-left: 20px;
	position: relative;
}
.j-b-type ul>li>label>i{
	width: 20px;
	height: 14px;
	display: inline-block;
	position: absolute;
	top: 1px;
	left: 0;
	background: url(../img/catalog_icon.png) no-repeat -101px -50px;
	/*-119px -51px*/
}
.j-b-type ul>li>label>span{
	font-size: 12px;
	color: #666;
	line-height: 52px;
	font-family: "Microsoft YaHei";
}
.jipiao-body .j-b-type label.tn_switch i{
	background: url(../img/catalog_icon.png) no-repeat -119px -51px;
}
.j-b-type-row{
	width: 415px;
	height: 79px;
	margin-bottom: 15px;
}
.search-row{
	width: 415px;
	height: 79px;
	margin-bottom: 0;
}
.s-r-start{
	width: 173px;
	height: 30px;
	border:1px solid #ddd;
	position: relative;
	display:inline-block;
	float: left;
}
.srs-chufa{
	/*width: 54px;*/
	height: 30px;
	padding-left: 6px;
	font-size: 14px;
	font-family: 'Microsoft YaHei';
	color: #999;
	line-height: 30px;
	position: absolute;
	top:0;
	left: 0;
}
.srs-holder{
	width: 84px;
	height: 30px;
	line-height: 30px;
	padding-left: 6px;
	font-family: 'Microsoft YaHei';
	font-size: 14px;
	color: #999;
	position: absolute;
	left: 60px;
	top: 0px;
}
.srs-input{
	width: 161px;
	height:19px;
	padding: 5px 6px 6px;
	border:none;
	margin-left: 56px;
	color: #333;
	line-height: 20px;
	background: url(../img/alpha.gif) repeat;
	display: inline-block;
	/*position: relative;*/
}
.s-r-change{
	width: 58px;
	height: 32px;
	display: block;
	float: left;
	cursor: pointer;
}
.s-r-change i{
	width: 44px;
	height: 22px;
	display:block;
	margin: 5px auto;
	background: url(../img/catalog_icon.png) no-repeat -2px -88px;
}
.s-r-end{
	width: 180px;
	height: 30px;
	border:1px solid #ddd;
	position: relative;
	display:inline-block;
	float: left;
}
.srs-mudi{
	height: 30px;
	padding-left: 6px;
	font-size: 14px;
	font-family: 'Microsoft YaHei';
	color: #999;
	line-height: 30px;
	position:relative;
	top:0;
	left: 0;
}
.s-r-date{
	width: 173px;
	height: 30px;
	border:1px solid #ddd;
	margin-top: 15px;
	position: relative;
	display:inline-block;
	float: left;
}
.sr-label{
	/*width: 54px;*/
	height: 30px;
	padding-left: 6px;
	font-size: 14px;
	font-family: 'Microsoft YaHei';
	color: #999;
	line-height: 30px;
	position: absolute;
	top:0;
	left: 0;
}
.sr-xingqi{
	width: 162px;
	height: 30px;
	line-height: 30px;
	padding-left: 6px;
	font-family: 'Microsoft YaHei';
	font-size: 14px;
	/*color: #999;*/
	text-align: right;
	position: absolute;
	left: 0px;
	top: 0px;
}
.sr-dat-inp{
	width: 161px;
	height:19px;
	padding: 5px 6px 6px;
	border:none;
	margin-left: 40px;
	color: #333;
	font-family: 'Microsoft YaHei';
	line-height: 20px;
	background: url(../img/alpha.gif) repeat;
	display: inline-block;
	/*position: relative;*/
}
.j-b-type-xl{
	/*width: 415px;*/
	height: 32px;
	margin-bottom: 15px;
	position: relative;
}
.jbt-adult{
	/*width: 90px;*/
	height: 32px;
	margin-right: 20px;
	float: left;
	display: block;
}
.jbt-child{
	height: 32px;
	margin-right: 20px;
	float: left;
	display: block;
}
.adu-kk{
	/*width: 88px;*/
	height: 30px;
	border:1px solid #ddd;
	position: relative;
	display:block;
}
.adu-txt{
	/*width: 24px;*/
	height: 30px;
	line-height: 30px;
	right: 20px;
	padding-left: 6px;
	font-size: 12px;
	color: #999;
	/*float: right;*/
	position: absolute;
	top:0;
	/*display: block;*/
}
.adu-btn{
	width: 8px;
	height: 4px;
	position: absolute;
    right: 7px;
    top: 15px;
    display: block;
}
.adu-btn i{
	position: absolute;
	top: 0px;
	right: 0px;
	display: block;
    border: 4px solid #999;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-width: 0;
}
.jbt-inp{
	width: 76px;
	/*width: auto;*/
	height:19px;
	padding: 5px 6px 6px;
	border:none;
	color: #333;
	line-height: 20px;
	background: url(../img/alpha.gif) repeat;
	display:block;
}
.jbt-inp2{
	width: 158px;
}
.j-b-type-sub{
	width: 125px;
	position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
}
.sub-btn{
	display: block;
    height: 37px;
    background: #f80;
    color: #fff;
    line-height: 37px;
    text-align: center;
    font-size: 18px;
	font-family: 'Microsoft YaHei';
    font-weight: bold;
}
.j-b-type-img{
	width: 415px;
    height: 105px;
    margin: 20px auto 0;
    overflow: hidden;
}

.j-b-type-bottom{
	width: 464px;
	height: 30px;
	line-height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.j-b-type-bottom>a>img{
	width: 465px;
	height: 30px;
}
.j-b-type-img img{
	transform:scale(1);
	transition:all 0.5s;
}
.j-b-type-img a:hover img{
	transform:scale(1.1);
	transition:all 0.5s;
}



/*中间内容*/
.tn-main{
	width: 100%;
	/*background-color: #000;*/
	/*height: 100px;*/
}
/*轮播+左右导航*/
.tn-banner{
	width: 100%;
	height: 440px;
	/*z-index: 1;*/
	position: relative;
}
/*轮播*/
.activity-slide{
	width: 100%;
	height: 440px;
	/*background-color: #00f;*/
	/*position: relative;*/
}
.activity-image{
	width: 100%;
	height: 440px;
}
.activity-image li{
	width: 100%;
	height: 440px;
	position: absolute;
	top:0px;
	left:0px;
	display: none;
}
.activity-image li.one{
	background: url("../img/21.jpeg") no-repeat center top;
}
.activity-image li.two{
	background: url("../img/22.jpeg") no-repeat center top;
}
.activity-image li.three{
	background: url("../img/23.jpeg") no-repeat center top;
}
.activity-image li.four{
	background: url("../img/24.jpeg") no-repeat center top;
}
.activity-image li.five{
	background: url("../img/25.jpeg") no-repeat center top;
}
.activity-image li.six{
	background: url("../img/26.jpeg") no-repeat center top;
}
.activity-image li img{
	width: 100%;
	height: 440px;
}
.activity-image li.active{
	display: block;
}
.tn-banner-center{
	width: 1190px;
	height: 430px;
	position: relative;
	margin:0 auto;
	margin-top: -430px; 
}

/*轮播标题+手风琴*/
.tn-bc-center{
	width: 735px;
	height: 420px;
	left: 225px;
	position: absolute;
	top:0px;
	bottom: 10px;
}
.activity-title{
	width: 708px;
	height: 18px;
	left: 15px;
	bottom: 129px;
	position: absolute;
}
.activity-title li{
	width: 116px;
	height: 18px;
	margin-right: 2px;
	font-size: 12px;
	list-style: none;
	float: left;
	color: #333;
	text-align: center;
	line-height: 18px;
	background: #fff;
	opacity: 0.7;
	cursor: pointer;
}
.activity-title li.active{
	color: #fff;
	background-color: #000;
}
.tn-bc-center .btn{
	width: 45px;
	height: 100px;
	position: absolute;
	top: 125px;
	opacity: 0.7;
	cursor: pointer;
	display: none;
}
.tn-bc-center:hover .btn{
	display: block;
}
.tn-bc-center .btn-left{
	left:0px;
	background: url(../img/sprite.png) no-repeat left top;
}
.tn-bc-center .btn-right{
	right: 0px;
	background: url(../img/sprite.png) no-repeat right top;
}

.activity-sfq{
	/*width: 705px;*/
	height: 122px;
	left: 15px;
	bottom: 0px;
	position: absolute;
}
.sfq-image{
	/*width: 705px;*/
	height: 122px;
	list-style: none;
	/*overflow: hidden;*/

	/*display: none;*/
}
.sfq-image li{
	width: 97px;
	float: left;
	height: 122px;
	position: relative;
	overflow: hidden;
}
.sfq-image li>img{
	width: 222px;
	height: 122px;
	left: 0;
	top: 0;
	position: absolute;
}
.sfq-image li.active{
	width: 122px;
}
.sfq-image li.active>img{
	left: -100px;
}
.tn-bc-center span{
	width: 47px;
	height: 18px;
	position: absolute;
	right: 15px;
	top: 0px;
	background: url(../img/promote.png) no-repeat;
}

/*右导航*/
.tn-bc-right{
	width: 230px;
	height: 420px;
	position: absolute;
	right: 0px;
	top: 0px;
	background-color: #fff;
}
.right-myd{
	width: 223px;
	height: 65px;
	padding: 10px 0 3px 7px;
}
.right-myd .hot-point{
	width: 66px;
	height: 65px;
	float: left;
	background: url(../img/hot-icon.png) no-repeat 1px -6510px;
	position: relative;
}
.right-myd .hot-num{
	width: 26px;
	height: 37px;
	position: absolute;
	top: 9px;
	right: 24px;
	color: #ff5805;
	font-size: 23px;
	font-weight: bold;
}
.right-myd .hot-du{
	width: 14px;
	height: 21px;
	position: absolute;
	top:11px;
	left: 43px;
	color: #ffce5a;
	font-size: 20px;
	font-weight: bold;
}
.right-myd .hot-txt{
	width: 36px;
	height: 18px;
	position: absolute;
	top:36px;
	left: 17px;
	color: #ff5905;
	font-size: 12px;
}
.right-myd .item{
	width: 123px;
	height: 22px;
	margin-left: 10px;
	margin-top: 1px;
	float: left;
	font-size: 12px;
	color: #999;
	line-height: 22px;
}
.right-myd .first-item{
	margin-top: 10px;
}
.right-myd .item>em{
	color: #887e73;
	font-weight: bold;
	font-style: normal;
	font-size: 13px;
}
.right-order{
	width: 210px;
	height: 55px;
	padding: 0 10px 10px;
}
.right-order ul{
	height: 55px;
	font-size: 12px;
	list-style: none;
	overflow: hidden;
}
.right-order ul li{
	height: 62px;
	left: 0px;
	top: -63px;
	position: relative;
	overflow: hidden;
}
.right-order .order_title{
	height: 38px;
	line-height: 18px;
	font-style: normal;
	overflow: hidden;
}
.right-order .order_info{
	height: 22px;
	line-height: 22px;
	color: #999;
}
/*阳光*/
.right-sunshine{
	width: 230px;
	height: 67px;
	border-top: 1px solid #f5f5f5;
	border-bottom: 1px solid #f5f5f5;
}
.right-sunshine a img{
	width: 230px;
	height: 67px;
}


/*服务*/
.right-fuwu{
	width: 230px;
	height: 208px;
}
.r-fuwu-img{
	/*width: 230px;*/
	height: 56px;
}
.r-fuwu-title{
	width: 230px;
	height: 10px;
	background: url(../img/index_icon.png) no-repeat 0 -192px; 
	margin-bottom:8px;
	display: inline-block;
}
.r-fuwu-title span{
	width: 58px;
	height: 10px;
	line-height: 10px;
	font-size: 13.5px;
	font-weight: bold;
	color: #a9a9a9;
	margin: 0 auto;
	display: block;
}
.r-fuwu-main{
	width: 206px;
	height: 127px;
	margin: 0 auto;
	/*background-color: #f0f;*/
}

/*服务左边*/
.r-fw-m-left{
	width: 99px;
	height: 127px;
	/*line-height: 26px;*/
	border-right: 1px dotted #ddd;
	float: left;
}
.r-fw-m-left a{
	width: 96px;
	height: 26px;
	line-height: 26px;
	padding: 4px 0px;
	margin-top:8px; 
	text-decoration: none;
	display: inline-block;
}
.r-fw-m-left a>img{
	width: 24px;
	height: 24px;
	margin-right: 7px;
	display: block;
	float: left;
	position: relative;
}
.r-fw-m-left a:hover img{
	top:-1px;
}
.r-fw-m-left a span{
	height: 26px;
	line-height: 26px;
	font-size: 12px;
	color: #656565;
	text-align: center;
	display:block;
	float: left;
}
.r-fw-m-left a:hover span{
	color: #f60;
}
/*服务右边*/
.r-fw-m-right{
	width: 99px;
	height: 127px;
	/*line-height: 26px;*/
	text-align: center;
	float: right;
}
.r-fw-m-right a{
	width: 96px;
	height: 26px;
	line-height: 26px;
	padding: 4px 0px;
	margin-top:8px; 
	text-decoration: none;
	display: inline-block;
}
.r-fw-m-right a>img{
	width: 24px;
	height: 24px;
	margin-right: 7px;
	display: block;
	float: left;
	position: relative;
}
.r-fw-m-right a:hover img{
	top:-1px;
}
.r-fw-m-right a span{
	height: 26px;
	line-height: 26px;
	font-size: 12px;
	color: #656565;
	text-align: center;
	display:block;
	float: left;
}
.r-fw-m-right a:hover span{
	color: #f60;
}
/*内容头部*/
.tn-m-top{
	width: 100%;
	height: 206px;
	margin-top: 25px;
}
.t-content{
	width: 1190px;
	height: 206px;
	margin:0 auto; 
}
.t-c-left{
	width: 950px;
	height: 206px;
	float: left;
}
.tc-l-box{
	margin-bottom: 26px;
}
.tcl-b-head{
	height: 32px;
	border-bottom: 3px solid #eceef4;
	margin-bottom: 15px;
	position: relative;
}
.tcl-b-tit{
	height: 32px;
	line-height: 32px;
	margin-bottom: 12px;
	list-style: none;
	float: left;
}
.tcl-b-tit li{
	height: 32px;
	line-height: 32px;
	text-align: center;
	margin-right: 18px;
	float: left;
}
.tcl-b-tit li.current a{
    font-size: 18px;
    font-weight: bold;
    font-family: "microsoft yahei";
    color: #22c231;
    border-bottom: 3px solid #22c231;
    padding-bottom: 0;
}
.tcl-b-tit li>a{
	padding: 0 5px;
	font-size: 16px;
	color: #222;
	display: inline-block;
}
.tcl-b-more{
	font-size: 12px;
    height: 32px;
    line-height: 32px;
    color: #999;
    font-family: "宋体";
    position: absolute;
    top: 0;
    right: 0;
}
.tcl-b-more a{
	color: #999;
}
.tcl-b-panel{
	width: 950px;
}
.tclb-p-body{
	width: 970px;
	height: 130px;
}

.tclb-p-body>li{
	width: 970px;
	height: 130px;
	margin-right: 16px;
	list-style: none;
}
.tclb-p-body>li.body-list{
	display: none;
}
.tclb-p-body>li.current-body{
	display: block;
}
.tab-list{
	/*width: 970px;*/
	/*height: 130px;*/
	list-style: none;
}
.tab-list>li{
	width: 225px;
	margin-bottom: 10px;
	margin-right: 16px;
	float: left;
	list-style: none;
}
.tab-list>li:hover{
	box-shadow: 0 2px 8px rgba(238,136,0,.3);
}
.spe-pro{
	width: 225px;
	height: 125px;
}
.spe-pro a{
	display: block;
    width: 225px;
    height: 125px;
    overflow: hidden;
    margin-bottom: 0;
    position: relative;
}
.spe-pro img{
	width: 225px;
    height: 125px;
}
.spe-pro a>i{
	width: 43px;
    height: 18px;
    color: #fff;
    line-height: 18px;
    font-style: normal;
    padding-left: 7px;
    background: url(../img/index_icon.png) no-repeat -128px -56px;
    position: absolute;
    top: 0;
    left: 0px;
}
.spe-pro .pic-txt{
	width: 120px;
    height: 125px;
    background: #fff;
    opacity: 0.9;
    position: absolute;
    right: 0;
    top: 0;
}
.p-t-mess{
	width: 112px;
    height: 118px;
    color: #222;
    padding: 7px 0 0 8px;
    position: absolute;
    right: 0;
    top: 0;
}
.p-t-mess>i{
	position: absolute;
    width: 5px;
    height: 13px;
    background: url(../img/index_icon.png) no-repeat -102px -36px;
    left: -5px;
    top: 54px;
}
.p-t-mess .pt-time{
	width: 112px;
	height: 19px;
    font-family: arial;
	font-size: 12px;
	color: #222;
	margin-bottom: 7px;
	display: block;
}
.pt-time .intime{
    display: inline-block;
    width: 17px;
    height: 19px;
    background: #38414c;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 19px;
    margin: 0 2px;
    font-family: arial;
}
.p-t-mess .pt-name{
    margin-bottom: 6px;
    height: 35px;
    overflow: hidden;
    color: #222;
    font-size: 12px;
    font-family: "microsoft yahei";
    display: block;
}
.p-t-mess .pt-pri{
	color: #f60;
	font-size: 14px;
    /*font-weight: bold;*/
    font-family: arial;
    /*padding-left: 4px;*/
}
.p-t-mess .pt-pri em{
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    color: #f60;
    font-style: normal;
    font-family: arial;
}
.p-t-mess .pt-pri i{
    font-style: normal;
    font-size: 12px;
    font-family: arial;
}

.pt-sale>s{
    color: #999;
    font-size: 12px;
    font-family: arial;
}
.pt-sale>span{
    width: 42px;
    height: 15px;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    background: url(../img/index_icon.png) no-repeat -54px -36px;
    color: #f60;
    font-family: arial;
    display: inline-block;
}
.t-c-right{
	width: 225px;
	height: 185px;
	float: right;
}
.tcr-tit{
	margin-bottom: 10px;
	border-bottom: 3px solid #eceef4;
	font-size: 16px;
	color: #222;
	height: 32px;
	line-height: 32px;
    font-family: "microsoft yahei";
    position: relative;
}
.tcr-tit>a{
	position: absolute;
    display: block;
    width: 122px;
    height: 35px;
    right: 0;
    top: -3px;
}
.tcr-tit>a>img{
	display: block;
    width: 122px;
    height: 35px;
}
.tcr-con{
	width: 225px;
	height: 140px;
	overflow: hidden;
}
.tcr-con>ul{
	list-style: none;
}
.tcr-con>ul>li{
    margin-bottom: 3px;
    width: 225px;
    height: 24px;
    overflow: hidden;
    font-family: "microsoft yahei";
}
.tcr-con>ul>li>a{
	font-size: 13px;
	color: #666;
    font-family: "microsoft yahei";
}
.tcr-con>ul>li:hover a{
	background: #f5f6f8;
	color: #f60;
}
/*主要内容*/
.tn-m-body{
	width: 100%;
	/*height: 1000px;*/
	display: block;
}
.tnmb-content{
	width: 1190px;
	/*height: 1000px;*/
	margin: 0 auto;
}
.tcon-left{
	width: 950px;
	float: left;
}
.t-l-layer{
	width: 950px;
}
.tl-l-head{
	/*width: 950px;*/
	margin-bottom: 0;
	border-bottom: 3px solid #eceef4;
	border-bottom-color: #e15b39;
	height: 32px;
	line-height: 18px;
	font-family: "microsoft yahei";
	position: relative;
}
.tl-l-head>h2{
	width: 230px;
	float: left;
    font-size: 18px;
    font-weight: bold;
	font-family: "microsoft yahei";
    color: #333;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
    /*display:block;*/
}
.tl-l-head .tabs{
	list-style: none;
	float: left;
	font-size: 14px;
	color: #666;
}
.tl-l-head .tabs>li{
	list-style: none;
	float: left;
	height: 32px;
	line-height: 32px;
	margin-right: 18px;
	text-align: center;
}
.tl-l-head .tabs>li>a{
	font-family: "microsoft yahei";
	font-size: 15px;
	color: #222;
	padding: 0 5px 3px;
	/*border-bottom: 3px solid #fff;*/
	float: left;
}
.tl-l-head .tabs>li.cur>a{
	color: #d74568;
	padding-bottom: 0;
	border-bottom: 3px solid #d74568;
}
.tl-l-head .tabs>li:hover a{
	color: #d74568;
	padding-bottom: 0;
	border-bottom: 3px solid #d74568;
}
.tl-l-list{
	padding-top: 20px;
	height: 390px;
	list-style: none;
	position: relative;
}
.tl-l-list .list-body{
	list-style: none;
	position: absolute;
	top:20px;
	left: 0;
	display: none;
}
.tl-l-list .list-xianshi{
	display: block;
}
.list-body .l-b-left{
	width: 225px;
	height: 390px;
	display: block;
	float: left;
}
.l-b-left .shuang{
	position: absolute;
	bottom: 30px;
	left: 8px;
	list-style: none;
}
.shuang .main_item,.shuang .side_item{
	width: 205px;
	height: 30px;
	margin-bottom: 5px;
	line-height: 30px;
	background: url(../img/chunjie_bg.png) no-repeat;
}
.shuang .main_item>a{
	/*font-family: "microsoft yahei";*/
    font-size: 14px;
    font-weight: bold;
    color: #de2a37;
    display: block;
    padding-left: 10px;
}
.shuang .side_item>a{
	font-size: 13px;
	/*font-family: "microsoft yahei";*/
    color: #333;
    display: block;
    padding-left: 10px;
}
.l-b-right{
	width: 720px;
	height: 390px;
	float: right;
}
.l-b-right>ul{
	width: 780px;
}
.l-b-right .pro-item{
    margin: 0 2px 20px 15px;
    height: 165px;
    width: 215px;
    background: #fff;
    float: left;
    overflow: hidden;
    display: inline;
}
.pro-item:hover{
	box-shadow: 0 2px 8px rgba(238,136,0,.3);
}
.pro-item .pro-pic{
    position: relative;
    width: 215px;
    height: 120px;
    overflow: hidden;
    margin-bottom: 5px;
}
.flag-icon{
	min-width: 64px;
}
.pro-pic>a{
	font-family: "microsoft yahei";
	font-size: 12px;
	line-height: 18px;
	color: #404040;
}
.pro-pic>a img{
	width: 215px;
	height: 120px;
}
.pro-mess-bg{
	height: 40px;
    width: 215px;
    position: absolute;
    left: 0;
    bottom: 0px;
    background: #38414c;
    opacity: 0.75;
}
.pro-mess{
    height: 38px;
    width: 210px;
    position: absolute;
    left: 5px;
    bottom: 0px;
    overflow: hidden;
}
.pro-mess>a{
	color: #fff;
    width: 208px;
    height: 42px;
    display: block;
	font-size: 12px;
	font-family: "microsoft yahei";
    line-height: 18px;
    overflow: hidden;
}
.pro-mess>a>span{
	font-size: 12px;
	font-weight: bold;
}
.pro-item .pro-infor{
	line-height: 26px;
}
.wpro-pri{
	float: left;
    color: #f60;
    font-size: 14px;
    line-height: 26px;
	font-family: "microsoft yahei";
    padding-left: 5px;
}
.wpro-pri>em{
	font-weight: bold;
    font-size: 20px;
    font-family: arial;
    margin-left: -3px;
    font-style: normal;
}
.wpro-pri>i{
    font-size: 12px;
    font-style: normal;
}
.pro-infor .satisfaction{
    float: right;
    color: #999;
    display:block;
	font-family: "microsoft yahei";
    margin-right: 5px;
    font-size: 12px;
    position: relative;
    top: 2px;
    padding: 0;
}
.l-b-left>h4{
	font-family: "microsoft yahei";
    font-size: 15px;
    color: #222;
    padding-left: 10px;
    margin-bottom: 5px;
}
.hot-city{
	border-bottom: 1px dotted #d7d7d7;
    padding-left: 10px;
    padding-bottom: 5px;
    height: 72px;
    line-height: 18px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: block;
}
.hot-city>li{
	float: left;
    background: url(../img/titpoint.png) no-repeat left center;
    padding-left: 7px;
    width: 94px;
    color: #333;
    margin-bottom: 5px;
}
.hot-city>li>a{
    font-size: 13px;
    color: #333;
    position: relative;
    float: left;
}

/*右边内容*/
.tcon-right{
	width: 225px;
	float: right;
}
.aside-box{
	width: 225px;
    font-size: 12px;
    font-family: "宋体";
    color: #666;
    background: #f6f6f6;
    margin-bottom: 15px;
    display: block;
}
.line{
	margin: 1px 18px;
	border-bottom: 1px dotted #e3e4e8;
}
.aside-box-inner{
	padding: 0 10px 10px;
	display: block;
}
.aside-tit{
	font-size: 14px;
    font-family: "microsoft yahei";
    line-height: 34px;
    color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
}
.aside-tit>a{
    color: #333;
	font-size: 14px;
}
.aside-tab{
	font-size: 12px;
	/*height: 400px;*/
	display: block;
}
.tabss{
	font-size: 14px;
    color: #666;
    margin-bottom: 15px;
    border-bottom: 2px solid #edeef3;
    float: left;
    display: block;
}
.tabss>li{
	float: left;
    /*height: 22px;*/
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    color: #666;
    padding: 0 15px 5px;
    margin-right: 8px;
    position: relative;
    top: 2px;
    font-family: "microsoft yahei";
}
.tab-contents{
	/*height: 376px;*/
	display: block;
	background: #fff;
    font-family: "microsoft yahei";
}
.item-list{
	display: none;
}
.tab-contents .currs{
	display: block;
}
.item-list>ul{
	height: 376px;
	/*overflow: hidden;*/
	position: relative;
}
.seller-item{
	font-size: 12px;
    font-family: "宋体";
    color: #666;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
    width: 125px;
    overflow: hidden;
    height: 60px;
    padding-left: 70px;
}
.seller-item .index-icon{
	display: block;
    width: 12px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/index_icon.png) no-repeat;
    z-index: 10;
}
.seller-item .icon-top-1{
	background-position: 0 -16px;
}
.seller-item .icon-top-2{
	background-position: -16px -16px;
}
.seller-item .icon-top-3{
	background-position: -32px -16px;
}
.seller-item>a{
	color: #404040;
}
.seller-item>a img{
	position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height: 60px;
    width: 60px;
    display: block;
}
.seller-item>h6{
	line-height: 20px;
    height: 20px;
    overflow: hidden;
}
.seller-item>h6>a{
	color: #333;
}
.seller-item>p{
	color: #999;
    line-height: 22px;
    height: 22px;
    overflow: hidden;
}
.fl{
	float: left;
}
.fr{
	float: right;
    display: inline;
}
.fr>i{
	color: #f60;
    font-family: "microsoft yahei";
    font-style: normal;
}
.aside-tab>.tabss>li.curr{
    border-bottom: 2px solid #4ecf5b;
    color: #4ecf5b;
}
.aside-tab>.tabss>li:hover{
	border-bottom: 2px solid #4ecf5b;
    color: #4ecf5b;
}
.hot-destination{
	background-color: #f3f3f3;
}
.aside-widget{
	background-color: #f6f6f6;
    width: 205px;
    padding: 15px 10px 10px 10px;
    font-size: 12px;
    color: #333;
    position: relative;
}
.aside-widget>h4{
	font-size: 14px;
    font-weight: bold;
    /*font-family: "microsoft yahei";*/
    line-height: 1;
    position: relative;
}
.aside-widget>h4 .actic{
	font-size: 12px;
    top: 4px;
    color: #666;
    position: absolute;
    right: 0px;
    cursor: pointer;
}
.ic-btn-left{
	width: 16px;
    height: 16px;
    background: url(../img/index_icon.png) no-repeat 0 -36px;
    display: inline-block;
}
.ic-btn-right{
	width: 16px;
    height: 16px;
    background: url(../img/index_icon.png) no-repeat -18px -36px;
    display: inline-block;
}
.widget-con{
    width: 205px;
    height: 85px;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    overflow: hidden;
    position: relative;
}
.widget-con .con-list{
	width: 1000px;
}
.c-list-item{
	float: left;
    display: inline;
    margin-right: 15px;
    position: relative;
    top: 0;
    left: 0px;
    overflow: hidden;
}
.c-list-item>p{
	font-size: 12px;
    color: #333;
    text-align: center;
    margin-top: 5px;
    font-family: "microsoft yahei";
}
.dest-img>a>img{
	display: block;
    background: #fff;
    border: 2px solid #f5f5f5;
    width: 50px;
    height: 50px;
    padding: 3px;
    border-radius: 50%;
}
.comment-list{
	display: block;
}
.comment-item{
	height: 182px;
	padding-left: 2px;
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;
	top:-192px;
}
.comment-info{
	color: #999;
    background: #eeeff2;
    height: 26px;
    line-height: 26px;
    position: relative;
    padding-left: 15px;
}
.comment-product{
	color: #333;
    line-height: 1.5;
    overflow: hidden;
    margin-top: 5px;
    padding: 0 20px 0 15px;
}
.comment-content{
    margin-top: 5px;
    color: #666;
    line-height: 1.5;
    overflow: hidden;
    padding: 0 20px 0 15px;
}
.icon-arrow-left{
    width: 9px;
    height: 11px;
    background-position: -40px -36px;
    position: absolute;
    left: 0;
    top: 26px;
}
.widget-con2{
	height: 380px;
}
.xinhang-piclink a{
    width: 111px;
    height: 190px;
    overflow: hidden;
    display: inline;
    float: left;
}
.xinhang-piclink a.first{
	margin-right: 3px;
}
.jinrong-piclink a{
    width: 225px;
    height: 75px;
    overflow: hidden;
}

/*主要内容的底部*/
.tn-m-bottom{
	width: 100%;
	margin-bottom: 35px;
	overflow: hidden;
}
.tnm-b-inner{
	width: 1190px;
	margin: 0 auto;
}
.tourism-box{
	position: relative;
}
.tourism-tit{
	position: relative;
}
.tourism-tit>h3{
    font-size: 20px;
    color: #333;
    font-family: "microsoft yahei";
    height: 40px;
    line-height: 40px;
    font-weight: normal;
}
.more-lyj{
    position: absolute;
    top: 12px;
    right: 0;
}
.more-lyj>a{
	font-size: 12px;
    font-family: "microsoft yahei";
	color: #999;
}
.tourism-wrap{
    height: 160px;
    width: 100%;
    overflow: hidden;
    border-top: 2px solid #666;
    padding-top: 30px;
    padding-bottom: 20px;
    position: relative;
}
.tourism-wrap-inner{
    height: 170px;
    overflow: hidden;
    position: relative;
}
.tourism-list{
}
.tourism-list>li{
    float: left;
    width: 130px;
    height: 90px;
    text-align: center;
    position:relative;
}
.tourism-list>li a>img{
    width: 100px;
    height: 40px;
}
.tourism-list>li>p>a{
	color: #666;
	font-size: 12px;
}






/*底部*/
.offer-service{
	width: 100%;
	margin-top: 30px;
}
.inner-service{
	width: 1190px;
	margin: 0 auto;
}
.inner-service>ul{
	width: 1190px;
}
.inner-service>ul>li{
	padding: 0 10px;
	width: 110px;
	float: left;
	text-align: center;
}
.inner-service>ul>li>a{
	display: block;
	color: #333;
	/*display: inline-block;*/
}
.inner-service>ul>li>a>i{
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 28px;
    font-size: 28px;
    color: #fff;
    background: url(../img/common_foot.png) no-repeat 0 -59px;
}
.inner-service>ul>li>a>p{
	margin-top: 4px;
	font-size: 12px;
    font-family: "microsoft yahei";
    display: block;
}
.faq-wrap{
	width: 100%;
    background: #fff;
    height: 155px;
    border-bottom: 1px solid #d8d8d8;
}
.faq-wrap .tn-faq{
	width: 1190px;
	margin: 0 auto;
	padding-top: 15px;
	position: relative;
}
.faq-first{
	padding-left: 40px;
}
.tn-faq .dll{
	padding-right: 50px;
    line-height: 24px;
    float: left;
    /*border-left: 1px #e4e4e4 solid;*/
}
.tn-faq>dl>dt{
    height: 24px;
    line-height: 20px;
    color: #666;
    font-size: 14px;
    font-weight: 600;
}
.tn-faq>dl>dd>a{
	color: #999;
	font-size: 12px;
}
.tiexin-serv{
    width: 260px;
    float: right;
    position: relative;
    background: #f6f6f6;
    border-radius: 5px;
    padding: 6px 20px;
    display: block;
}
.tiexin-serv .tiexin-tt{
    padding-left: 25px;
    font-size: 12px;
    background: url(../img/common_foot.png) no-repeat -211px -2px;
}
.tiexin-cont{
	color: #999;
	font-size: 12px;
	line-height: 24px;
}
.serv-car{
	width: 96px;
    height: 66px;
    display: block;
    position: absolute;
    right: -40px;
    bottom: 0;
    background: url(../img/serv_24.png) no-repeat;
}


.trav-sev{
	width: 100%;
	padding: 20px 0; 
	/*height: 217px;*/
	background-color: #f5f5f5;
}
.trav-sev .ts-box{
	width: 990px;
	margin: 0 auto;
	display: block;
}
.ts-box>li{
	float: left;
    width: 150px;
    margin-right: 20px;
    border-right: 1px dotted #d8d8d8;
    padding-bottom: 20px;
}
.ts-box .trav-l-first{
	width: 250px;
}
.ts-box .trav-l-last{
	border-right: none;
}
.ts-box>li>i{
	display: block;
    width: 35px;
    height: 35px;
    overflow: hidden;
    float: left;
}
.ts-box>li .ts-1{
    background: url(../img/common_foot_2.png) no-repeat 0 0;
}
.ts-box>li .ts-2{
    background: url(../img/common_foot_2.png) no-repeat -40px 0;
}
.ts-box>li .ts-3{
    background: url(../img/common_foot_2.png) no-repeat -80px 0;
}
.ts-box>li .ts-4{
    background: url(../img/common_foot_2.png) no-repeat -120px 0;
}
.ts-box>li .ts-5{
    background: url(../img/common_foot_2.png) no-repeat -160px 0;
}
.trav-l{
	width: 140px;
	margin-left: 45px;
	display: block;
}
.tl-tt{
	font-size: 14px;
    line-height: 35px;
    margin-bottom: 10px;
}
.tl-tt>a{
	color: #666;
}
.tl-w{
	width: 240px;
}
.tl-w>p{
	display: block;
}
.tl-w>p>a{
	/*width: 65px;*/
	color: #999;
	display: inline-block;
	font-size: 12px;
}
.tl-cont>p>img{
	margin-top: 10px;
}


.three-trav{
	width: 100%;
	/*background-color: #003;*/
	background-color: #60ca6e;
	display: block;
	line-height: 18px;
}
.thr-trav{
	width: 990px;
	height: 62px;
	background: url(../img/thr_sun.jpg) no-repeat;
	margin: 0 auto;
}
.thr-trav>a{
	width: 990px;
	height: 62px;
	display: block;
	position: relative;
}
.thr-trav>a>em{
	font-style: normal;
}
.thr-trav>a>em.tn-txt{
	color: #fff;
	/*font-style: normal;*/
	font-size: 12px;
    position: absolute;
    right: 10px;
    bottom: 32px;
    opacity: 0.8;
}
.tn-phone{
	color: #fff;
	/*font-style: normal;*/
	font-size: 20px;
    position: absolute;
    right: 15px;
    bottom: 10px;
    font-family: "arial";
}



.fourImgs{
	width: 990px;
	/*height: 60px;*/
	margin: 10px auto 0;
	overflow: hidden;
	/*background-color: #03c; */
}
.fourImgs>ul{
	width: 1200px;
}
.fourImgs>ul>li{
	float: left;
    width: 238px;
    height: 58px;
    border: 1px solid #d8d8d8;
    margin-right: 10px;
}
.fourImgs img{
	display: block;
}


.img-place{
	width: 990px;
	/*height: 60px;*/
	margin: 10px auto 0;
    border: 1px solid #d8d8d8;
	/*background-color: #0cc;*/
}
/*底部*/
.TN-footer{
	width: 1000px;
	/*height: 222px;*/
	margin:10px auto 10px;
	/*background-color: #fcc;*/
}
.TN-footer p{
	text-align: center;
	line-height: 1.9;
	font-size: 12px;
	color: #777;
}
.TN-footer p>a{
	color: #777;
}

.thr-img{
	width: 551px;
	margin: 10px auto 0;
}
.thr-img>ul{
	width: 1000px;
}
.thr-img>ul>li{
	width: 175px;
    margin-right: 10px;
    border: 1px solid #d8d8d8;
    float: left;
 }
.thr-img>ul>li>a{
 	display: block;
 }
.thr-img>ul>li>a img{
 	width: 175px;
 	display: block;
 }
.thr-order{
	margin-top: 5px;
	display: block;
}
.thr-order>span{
	width: 60px;
    float: left;
    display: block;
    height: 22px;
    line-height: 20px;
    overflow: hidden;
    color: #999;
    font-size: 12px;
}
.fl-w-940{
    width: 940px;
    overflow: hidden;
    position: relative;
    height: 22px;
    line-height: 20px;
    color: #999;
    font-size: 12px;
    float: left;
    float: left;
}
.fl-w-940>ul>li{
	float: left;
}
.trav-corp {
    text-align: center;
    margin-top: 10px;
    height: 47px;
    position: relative;
}
.trav-crop-center{
    width: 1100px;
    height: 47px;
    margin: 0 auto;
    position: absolute;
    left: -50px;
    top: 0;
}



.footer-link{
	width: 1200px;
	/*height: 58px;*/
	margin:0 auto;
    color: #999;
	/*background-color: #ffc;*/
	padding: 10px auto 3px;
	margin: 10px auto 0 auto;
	border-top: 1px solid #e7e7e7;
	text-align: center;
}
.footer-link>dl{
	width: 1000px;
	margin: 0 auto;
}
.footer-link dt{
	width: 60px;
    float: left;
    font-size: 12px;
    height: 18px;
    line-height: 22px;
    color: #999;
}
.footer-link dd{
	width: 912px;
    float: left;
    padding-bottom: 8px;
}
.footer-link>dl>dd #show_tab a{
	color: #999;
	font-size: 12px;
}
#unshow_tab a{
	color: #999;
	font-size: 12px;
}


.float-menu{
	display: none;
	width: 36px;
	height: 532px;
	top:50px;
	/*margin-left: -636px;*/
	left: 50%;
	/*background-color: #3cf;*/
	position: fixed;
	margin-left: -636px;
}
.float-menu>ul>li{
	color: #999;
    font-size: 12px;
    width: 24px;
    height: 28px;
    line-height: 14px;
    padding: 6px;
    cursor: pointer;
    background: #fff;
}
.float-menu>ul>li.separ{
	padding: 0px;
    height: 1px;
    background-color: #eaeaea;
    margin: 0 8px;
    width: 20px;
    font-size: 0;
    line-height: 0;
}
.float-menu>ul>li.actys{
	/*background-color: #00f;*/
	color: #fff;
}
.float-menu>ul>li.actys a{
	color: #fff;
}
.rightCom{
	width: 40px;
	height: 100%;
	background: #333;
	position: fixed;
	right:0;
	top:0;
	z-index: 10000;
}
.tight-com{
	display: block;
}
.rightCom li {
    position: relative;
    overflow: visible;
}
.rightCom .rc_box {
    position: absolute;
    padding: 0;
    right: 35px;
    margin-right: 5px;
    top: 0;
    background-color: #fff;
    display: none;
}
.rightCom .rc_arrow {
    position: absolute;
    display: block;
    width: 6px;
    overflow: hidden;
    height: 18px;
    right: -6px;
    top: 20px;
}
.triangle_border {
    width: 0;
    height: 0;
    border-left: 7px solid #dcdcdc;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    position: relative;
    display: block;
}
.triangle_border em {
    display: block;
    width: 0;
    height: 0;
    border-left: 4px solid #fff;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    position: absolute;
    top: -3px;
    left: -7px;
}
.rightCom .rc_app_box {
    border-top: 1px solid #3e3e3e;
    border-bottom: 1px solid #3e3e3e;
    margin-top: 15px;
}
.rightCom .rc_icon {
    display: block;
    width: 40px;
    height: 40px;
}
.rightCom .rc_app {
    background: url(../img/rc_icon_all.png) no-repeat 6px 14px;
}
.rightCom .rc_app_b {
    background-color: rgba(0,0,0,0) !important;
}
.mytuniuArea{
	background-color: #333;
}
.rightCom .rc_topBot_b {
    border-top: 1px solid #3e3e3e;
    border-bottom: 1px solid #3e3e3e;
    margin-top: -1px;
}
.rightCom .rc_collect {
    background: url(../img/rc_icon_all.png) no-repeat 6px -97px;
    cursor: pointer;
}
.rightCom .rc_hover_event {
    display: none;
}
.rightCom .rc_des {
    height: 41px;
    line-height: 40px;
    padding: 0 10px;
    width: 60px;
    border-left: 3px solid #f80;
    font-size: 14px;
    background-color: #333;
    color: #f80;
    cursor: pointer;
}
.rightCom .rc_topBot_b {
    border-top: 1px solid #3e3e3e;
    border-bottom: 1px solid #3e3e3e;
    margin-top: -1px;
}
.rightCom .rc_order {
    background: url(../img/rc_icon_all.png) no-repeat 8px -224px;
    cursor: pointer;
}
.rightCom .rc_quan {
    background: url(../img/rc_icon_all.png) no-repeat 10px -288px;
    cursor: pointer;
}
.rightCom .rc_kefutips {
    background: url(../img/rc_icon_all.png) no-repeat 8px -785px;
    cursor: pointer;
}
.rc_topBot_b {
    border-top: 1px solid #3e3e3e;
    border-bottom: 1px solid #3e3e3e;
    margin-top: -1px;
}
.rightCom .rc_online {
    background: url(../img/rc_icon_all.png) no-repeat 8px -728px;
}
.rightCom .rc_qa {
    background: url(../img/rc_icon_all.png) no-repeat 8px -846px;
    cursor: pointer;
}
.rightCom .rc_advise {
    background: url(../img/rc_icon_all.png) no-repeat 9px -544px;
    cursor: pointer;
}
.rightCom .rc_backtotop {
    background: url(../img/rc_icon_all.png) no-repeat 10px -600px;
    cursor: pointer;
}
.rightCom .rc_hover:hover .rc_box{
	display: block;
}