<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>收获地址 </title>
  <meta name="keywords" content="联想中国官网,联想电脑,联想服务器，联想官方网上商城" />
  <meta name="description" content="联想官方网上商城,为您提供最新联想笔记本电脑,联想平板电脑,联想手机,联想台式机,联想一体电脑,联想服务器,联想外设数码产品,联想智能电视等产品在线购买及售后服务,您提供愉悦的网上购物体验"
  />
  <link rel="shortcut icon" href="__PUBLIC__/home/img/1.png">

</head>

<body>
  <div class='nav'>
    <div class="top">
      <ul class="nav-1">
        <li><a href="http://appserver.lenovo.com.cn/Lenovo_HouseHold_Index.aspx" target="_blank">个人及家用产品</a><span class="gang">|</span></li>
        <li><a href="http://appserver.lenovo.com.cn/Lenovo_Commercial_Index.aspx" target="_blank">库商用产品</a><span class="gang">|</span></li>
        <li><a href="appserver.lenovo.com.cn/Lenovo_EnterPrise_Index.aspx" target="_blank">库企业级产品库</a><span class="gang">|</span></li>
        <li><a href="http://www.lenovovip.com.cn/" target="_blank">聚享汇会员</a><span class="gang">|</span></li>
        <li class='she'>
          <a href="javascript:">社交平台
            <span class="tou-one"></span>
          </a>
          <span class="gang" style="margin-left:18px">|</span>

          <ul class='menu'>
            <li><a href=""><span class="guanbo"></span>联想官方微博</a></li>
            <li><a href=""><span class="bo"></span>杨元庆微博</a></li>
            <li><a href=""><span class="wei"></span>联想官方微信</a></li>
            <li><a href=""><span class="tie"></span>百度贴吧联想吧</a></li>
            <li><a href=""><span class="bu"></span>联想兴趣部落</a></li>
            <li><a href=""><span class="qq"></span>联想qq空间</a></li>
            <li><a href=""><span class="gushe"></span>联想官方社区</a></li>
          </ul>
        </li>
        <li class="ji">
          <a href="javascript:">手机版</a>
          <span class="tou"></span>
          <ul class='shou'>
            <li>
              <span class="shou-tu"></span>
              <div class="shou-zi">联想商城客户端</div>
              <div class='shou-jian'>首次下单立减20元</div>
              <img src="__PUBLIC__/home/img/2.jpg" alt="">
            </li>
            <div class="clear"></div>
          </ul>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="nav-right">
        <ul>
          <li>
            <a style="position:relative" href="">购物车 
            <span class="guo">0</span>
            </a>
          </li>
          <li><a class="zc" href="">注册</a><span class="gang">|</span></li>
          <li><a class="dl" href="">登陆</a><span class="gang">|</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container search">
    <div class="search-left">
      <a href="http://www.lenovo.com.cn"><img src="__PUBLIC__/home/img/5.png" alt=""></a>
    </div>
    <div class="search-right">
      <div class="fang">
        <span class="da"></span>
      </div>
      <input type="text" placeholder="miix5">
    </div>
    <div class="clear"></div>
  </div>
  <div class="container menus">

    <div class="menus-dao">
      <ul>

        <li><a href="../index.html">首页</a></li>
        <li><a class=xp>小新Air 13 Pro
          <span class="pro"></span>
        </a>
        </li>
        <li class="bk">
          <a>爆款</a>
          <ul class="bk-bao">
            <li> <a href="">小新Air 12</a></li>
            <li><a href="">小新Air13 Pro</a></li>
            <li><a href="">小新310</a></li>
            <li><a href="">拯救者游戏本</a></li>
            <li><a href="">ThinkPad New S2</a></li>
            <li><a href="">看家宝Snowman</a></li>
            <li><a href="">小新700</a></li>
            <li><a href="">MIIX5</a> </li>
            <li><a href="">YOGA BOOK</a></li>
          </ul>
        </li>
        <li><a class="lx">联想合伙人<span class="hehou"></span></a></li>
        <li><a>0元试用</a></li>
        <li><a>以旧换新</a></li>
        <li><a>私人定制</a></li>
        <li class="fw"><a>服务</a>
          <ul class="fuwu">
            <li><a href="">服务支持</a></li>
            <li><a href="">驱动下载</a></li>
            <li><a href="">联想知识库</a></li>
          </ul>
        </li>
        <li><a>社区</a></li>
        <!-- <li></li> -->
      </ul>
    </div>
  </div>
  <!-- 内容 -->
  <!-- 条 -->

  <!-- 右 -->

  {__CONTENT__}


  </div>
  </div>
  <div class="footer">
    <img src="__PUBLIC__/home/img/99999.png" alt="">

    <img src="__PUBLIC__/home/img/9999.png" alt="">
  </div>

  <body>

</html>