<layout name="yzm" />
<ol class="breadcrumb">
	<li><a href="#"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
	<li><a href="#">分类管理</a></li>
	<li class="active">分类列表</li>

	<button class="btn btn-primary btn-xs pull-right"><span class="glyphicon glyphicon-refresh"></span></button>
</ol>

<!-- 面版 -->
<div class="panel panel-default">
	<div class="panel-heading">
		<button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> 批量删除</button>
		<a href="{:U('add')}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> 添加分类</a>
		
		<p class="pull-right tots" >共有 {$tot} 条数据</p>
		<form action="" class="form-inline pull-right">
			<div class="form-group">
				<input type="text" name="" class="form-control" placeholder="请输入你要搜索的内容" id="">
			</div>
			
			<input type="submit" value="搜索" class="btn btn-success">
		</form>


	</div>
	<table class="table-bordered table table-hover">
		<th><input type="checkbox" name="" id=""></th>
		<th>ID</th>
		<th>CNAME</th>
		<th>子类</th>
		<th width="200px">INFO</th>
	<!-- 	<th>PID</th>
		<th>PATH</th> -->
		<th>操作</th>
		<volist name="data" id="admin">
		<tr>

			<td><input type="checkbox" name="" id=""></td>
			<td>{$admin[id]}</td>
			<?php
				$arr=explode(',',$admin['path']);
				array_pop($arr);
				$size=count($arr);
			?>
			<td>{:str_repeat('|===',$size-1)}{$admin[cname]}</td>
			
			<if condition="$size eq 3">
				<td><a href="javascript:;" style="color:red;" class="glyphicon glyphicon-plus"></a></td>
				<else />
				<td><a href="{:U('add',array('pid'=>$admin[id],'path'=>$admin[path].$admin[id].','))}" class="glyphicon glyphicon-plus"></a></td>
			</if>
			
			<td>{$admin[info]}</td>
			<!-- <td>{$admin[pid]}</td> -->
			<!-- <td>{$admin[path]}</td> -->
			<td><a href="{:U('edit')}" class="glyphicon glyphicon-pencil"></a>&nbsp;&nbsp;&nbsp;<a href="" class="glyphicon glyphicon-trash"></a></td>
		</tr>
		</volist>

		
	</table>
	<!-- 分页效果 -->
	<div class="panel-footer">

		<nav style="text-align:center;">
			{$pages}
		</nav>

	</div>
</div>