<layout name="yzm" />
<ol class="breadcrumb">
	<li><a href="#"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
	<li><a href="#">订单管理</a></li>
	<li class="active">订单列表</li>

	<button class="btn btn-primary btn-xs pull-right"><span class="glyphicon glyphicon-refresh"></span></button>
</ol>

<!-- 面版 -->
<div class="panel panel-default">
	<div class="panel-heading">
		<a href="javascript:;" class="btn btn-success">{$data[0].code} 订单的详细信息</a>
		


	</div>
	<table class="table-bordered table table-hover">
		<th>GNAME</th>
		<th>GIMG</th>
		
		
		<th>PRICE</th>
		<th>NUM</th>
		<th>小计</th>
		<volist name="data" id="admin">
		<tr>
			<td>{$admin['gname']}</td>
			<td><img src="__UPLOADS__/Goods/md_{$admin['img']}" alt=""></td>
			<td>{$admin['price']}</td>
			<td>{$admin['num']}</td>
			<td>{$admin['price']*$admin['num']}</td>
			<php>
				$tot+=$admin['price']*$admin['num'];
				$size+=$admin['num'];
			</php>
		</tr>
		</volist>
		<tr>
			<td>合计</td>
			<td>{$size}</td>
			<td>金额</td>
			<td>{$tot}</td>
		</tr>

		
	</table>
	<!-- 分页效果 -->
	<div class="panel-footer">

		<nav style="text-align:center;">
			{$pages}
		</nav>

	</div>
</div>