<layout name="yzm" />
<ol class="breadcrumb">
	<li><a href="#"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
	<li><a href="#">订单状态管理</a></li>
	<li class="active">订单状态列表</li>

	<button class="btn btn-primary btn-xs pull-right"><span class="glyphicon glyphicon-refresh"></span></button>
</ol>

<!-- 面版 -->
<div class="panel panel-default">
	<div class="panel-heading">
		<button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> 批量删除</button>
		<a href="{:U('statu_add')}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> 添加订单状态</a>
		
		<p class="pull-right tots" >共有 {:count($data)} 条数据</p>
		<form action="" class="form-inline pull-right">
			<div class="form-group">
				<input type="text" name="" class="form-control" placeholder="请输入你要搜索的内容" id="">
			</div>
			
			<input type="submit" value="搜索" class="btn btn-success">
		</form>


	</div>
	<table class="table-bordered table table-hover">
		<th><input type="checkbox" name="" id=""></th>
		<th>ID</th>
		<th>NAME</th>
		
		<volist name="data" id="admin">
		<tr>
			<td><input type="checkbox" name="" id=""></td>
			<td>{$admin[id]}</td>
			<td>{$admin[name]}</td>
			
			
		</tr>
		</volist>

		
	</table>
	<!-- 分页效果 -->
	<div class="panel-footer">

		<nav style="text-align:center;">
			{$pages}
		</nav>

	</div>
</div>